API_URL=
APP_ORIGIN=
NEXT_PUBLIC_API_URL=
REVALIDATE_SECRET=
NEXT_PUBLIC_BRAND_NAME=
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_CONTACT_PHONE=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_LOCATION_ADDRESS=
